<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vrplayer.safpicker">

    <!-- 这个库模块的清单应该为空，让主 AndroidManifest.xml 接管 activity 注册 -->
    <!-- SafPickerProxyActivity 已在 Assets/Plugins/Android/AndroidManifest.xml 中声明 -->

</manifest>
